body{
	background: #FFFFFF;
	font-family: sans-serif;
}
header{
	padding: 20px 20px;
	
}
.site-title{
	display: flex;
	justify-content: center;
	margin-top: -20px;
}
.site-title h3{
	display: flex;
	justify-content: center;
	font-family: monospace;
	font-size: 40px;
}
.header-nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-left: -25px;
}

.header-nav ul li a{
	text-decoration: none;
	color:  #FFFFFF;
	padding: 20px 40px;

	margin-right: 15px;
	background: #05B2D2;
}
.active-page{
	background: #B8C4D0 !important;
}

.contact-form{
	display: flex;
  	justify-content: center;
}
.contact-form div{
	margin-top: 50px;
	text-align: center;
	width: 40%;
	background: white;
	box-shadow: 0px 0px 5px #aaaaaa;
	padding: 20px;
}
.contact-form div h3{
	font-weight: 300;
}
.contact-form div input{
	padding: 10px 20px;
	margin: 15px 20px;
	width: 300px;
}
.contact-form div button{
	padding: 10px 50px;
	margin: 15px 0;
	background: white;
	border: solid 1px #05B2D2;
	color: #05B2D2;
}
.contact-form div button:hover{
	background: #05B2D2;
	color: white;
}
.record-table div{
	width: 50%;
}
.record-table table{
	display: flex; 
	justify-content: center;
}
.record-table table tr th{
	padding: 10px 50px;
}